In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [7]:
X_train2 = pd.read_csv('X_train2.csv', index_col = 0)
y_train2 = pd.read_csv('y_train2.csv', index_col = 0)

In [8]:
X_train2.shape, y_train2.shape

((237585, 414), (237585, 1))

In [9]:
X_train2.head()

,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,...,County_987,County_988,County_989,County_990,County_991,County_992,County_993,County_994,County_996,County_999
433090,-0.178772,1,0,1,0.0,-0.243864,0.0,1.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
216269,-0.313468,1,0,0,1.0,-0.243864,0.0,1.0,1.0,1.0,...,0,0,1,0,0,0,0,0,0,0
286182,-0.313468,1,0,0,0.0,-0.243864,0.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
18730,-0.288524,1,0,1,0.0,-0.243864,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
131172,0.719201,1,0,0,1.0,-0.243864,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y_train2.head()

        PotentialFraud
433090               0
216269               1
286182               0
18730                0
131172               0

In [14]:
np.array(y_train2['PotentialFraud'])

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [ ]:
lr = LogisticRegression()
lr.fit(X_train2, y_train2)

C:\Users\user\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)